<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css">
    <title>My Blog</title>
</head>
<body>
    <header>
        {% block pagename %}
        <h1>Мир новостей</h1>
        {% endblock %}
    </header>

    <div class="container">

        {% block left_page %}
        <div class='left_menu'>
            <blockquote><a href="">Главная страница</a></blockquote>
            <blockquote><a href="/main/news/">Новости</a> </blockquote>
            <blockquote><a href="/main/registration/">Регистрация</a></blockquote>
            {% if user.is_staff %}
                <blockquote><a href="/admin/">Админ панель</a></blockquote>
                <blockquote><a href="/api/userlist/">User API</a></blockquote>
                <blockquote><a href="/api/newsfilmslist/">NewsFilm API</a></blockquote>
            {% else %}
            {% endif %}
        </div>
        {% endblock %}

        {% block centre_page %}
        <div class="centre_menu">
        </div>
        {% endblock %}

        {% block right_page %}
        <div class="right_menu">
            {% if user.is_authenticated %}
            <a>Hello, {{ user.username }}!</a>
            <div class="button_block">
                <blockquote><a href="/main/logout/"><button>Выйти</button></a></blockquote>
            </div>
            {% else %}
            <a>Hello, AnonymousUser!</a>
            <div class="button_block">
                <blockquote><a href="/main/login/"><button>Войти</button></a></blockquote>
            </div>
            {% endif %}
        </div>
        {% endblock %}
    </div>
</body>
</html>