{% extends "base.html" %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block pagename %}
    <h1>Новости</h1>
{% endblock %}

{% block left_page %}
    <div class='left_menu'>
        <blockquote><a href="/main/">Главная страница</a></blockquote>
        <blockquote><a href="">Новости</a> </blockquote>
        <blockquote><a href="/main/registration/">Регистрация</a> </blockquote>
        {% if user.id is 1 %}
            <blockquote><a href="/admin/">Админ панель</a></blockquote>
        {% else %}
        {% endif %}
    </div>
{% endblock %}

{% block centre_page %}
    <div class="centre_menu">
        {% for new in news %}
            <h2>{{ new.title }}</h2>
            <p>{{ new.summary }}</p>
            <p><img src="{{ new.img_url }}" width="850" height="450"></p>
            <p>{{ new.created_at }}
                {% if user.is_authenticated %}
                    <a href="/main/news/{{ new.id }}"><button >Читать полностью</button></a>
                {% else %}
                    <button disabled>Для чтения статьи, Вам необходимо авторизоваться</button>
                {% endif %}
            </p>
        {% endfor %}
    </div>
{% endblock %}

{% block right_page %}
    {{ block.super }}
{% endblock %}